body {
    background-color: #343a40; /* черно-серый цвет фона */
    background-image: url('static/images/sand_black_beach_130680_3840x2400.jpg'); /* путь к вашему изображению текстуры */
    background-repeat: repeat; /* повторение текстуры по горизонтали и вертикали */
}


.img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px; /* Разделение между изображениями */
}

.col-md-4 {
    flex: 1 1 calc(33.333% - 16px); /* Три колонки в ряд с промежутками */
}

@media (max-width: 768px) {
    .col-md-4 {
        flex: 1 1 calc(50% - 16px); /* Две колонки в ряд на планшетах */
    }
}

@media (max-width: 576px) {
    .col-md-4 {
        flex: 1 1 100%; /* Одна колонка в ряд на мобильных устройствах */
    }
}
