{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h2>Welcome to My Website!</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <img src="https://i.pinimg.com/564x/02/97/10/0297104e1323207ea874e5ea5c39b113.jpg" alt="Anime Image 1" class="img-fluid">
        </div>
        <div class="col-md-4 mb-4">
            <img src="https://i.pinimg.com/736x/96/8d/72/968d722691ea0622048c651c2c2c4ecc.jpg" alt="Anime Image 2" class="img-fluid">
        </div>
        <div class="col-md-4 mb-4">
            <img src="https://i.pinimg.com/564x/c9/d4/b4/c9d4b4bfcd08709db7626e7a76f8da20.jpg" alt="Anime Image 3" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <img src="https://i.pinimg.com/564x/81/a3/09/81a3097caacb0a163e5db964fda6bb50.jpg" alt="Anime Image 4" class="img-fluid">
        </div>
        <div class="col-md-4 mb-4">
            <img src="https://i.pinimg.com/564x/70/ad/f9/70adf9aeeed2f03f0a5a215a191c1731.jpg" alt="Anime Image 5" class="img-fluid">
        </div>
        <div class="col-md-4 mb-4">
            <img src="https://i.pinimg.com/564x/e4/e0/5e/e4e05e775ebe48f3bfad95ea7df91b39.jpg" alt="Anime Image 6" class="img-fluid">
        </div>
    </div>
{% endblock %}
